ErrorDocument 404 /404.html
RewriteEngine On
RewriteRule ^remont-vannoy/?$ /remont-vannoj/ [R=301,L]
RewriteRule ^remont-vannoy-pod-klyuch/?$ /remont-vannoj-pod-klyuch/ [R=301,L]
RewriteRule ^elektrika/?$ /elektromontazhnye-raboty/ [R=301,L]
RewriteRule ^santehnika/?$ /santehnicheskie-raboty/ [R=301,L]
RewriteRule ^blog/kak-sekonomit-na-remonte-bez-poteri-kachestva/?$ /blog/posledovatelnost-remonta-kvartiry/ [R=301,L]
RewriteRule ^blog/dizajn-malenkoj-kvartiry/?$ /blog/posledovatelnost-remonta-kvartiry/ [R=301,L]
RewriteRule ^blog/remont-kvartiry-dlya-semi-s-detmi/?$ /blog/posledovatelnost-remonta-kvartiry/ [R=301,L]
RewriteRule ^blog/kak-podgotovit-kvartiru-k-remontu/?$ /blog/posledovatelnost-remonta-kvartiry/ [R=301,L]
RewriteRule ^blog/priemka-shtukaturnyh-rabot/?$ /blog/kakaya-kraska-luchshe-dlya-sten/ [R=301,L]
RewriteRule ^blog/priemka-plitochnyh-rabot/?$ /blog/kak-vybrat-plitku/ [R=301,L]
RewriteRule ^blog/skrytye-raboty-v-remonte/?$ /blog/posledovatelnost-remonta-kvartiry/ [R=301,L]
RewriteRule ^blog/zachem-nuzhen-tehnicheskij-dizajn-proekt/?$ /blog/posledovatelnost-remonta-kvartiry/ [R=301,L]
RewriteRule ^blog/kak-vybrat-mezhkomnatnye-dveri/?$ /blog/posledovatelnost-remonta-kvartiry/ [R=301,L]
RewriteRule ^blog/teplyj-pol-vidy-i-vybor/?$ /blog/kakoj-laminat-luchshe/ [R=301,L]
RewriteRule ^blog/keramogranit-ili-keramicheskaya-plitka/?$ /blog/kak-vybrat-plitku/ [R=301,L]
RewriteRule ^blog/laminat-ili-kvarc-vinil/?$ /blog/kakoj-laminat-luchshe/ [R=301,L]
RewriteRule ^blog/parket-ili-inzhenernaya-doska/?$ /blog/kakoj-laminat-luchshe/ [R=301,L]
RewriteRule ^blog/kak-vyrovnyat-pol/?$ /blog/kakoj-laminat-luchshe/ [R=301,L]
RewriteRule ^blog/nalivnoj-pol-v-kvartire/?$ /blog/kakoj-laminat-luchshe/ [R=301,L]
RewriteRule ^blog/kak-podgotovit-steny-pod-pokrasku/?$ /blog/kakaya-kraska-luchshe-dlya-sten/ [R=301,L]
RewriteRule ^blog/shtukaturka-ili-gipsokarton/?$ /blog/kakaya-kraska-luchshe-dlya-sten/ [R=301,L]
RewriteRule ^blog/mehanizirovannaya-ili-ruchnaya-shtukaturka/?$ /blog/kak-vybrat-santehniku/ [R=301,L]
RewriteRule ^blog/kak-vybrat-cvet-sten/?$ /blog/kakaya-kraska-luchshe-dlya-sten/ [R=301,L]
RewriteRule ^blog/matovaya-ili-glyancevaya-kraska/?$ /blog/kakaya-kraska-luchshe-dlya-sten/ [R=301,L]
RewriteRule ^blog/oboi-pod-pokrasku/?$ /blog/kakaya-kraska-luchshe-dlya-sten/ [R=301,L]
RewriteRule ^blog/dekorativnaya-shtukaturka-v-interere/?$ /blog/kakaya-kraska-luchshe-dlya-sten/ [R=301,L]
RewriteRule ^blog/skolko-rozetok-nuzhno-v-kvartire/?$ /blog/elektrika-v-novostrojke/ [R=301,L]
RewriteRule ^blog/osveshhenie-v-spalne/?$ /blog/elektrika-v-novostrojke/ [R=301,L]
RewriteRule ^blog/osveshhenie-na-kuhne/?$ /blog/elektrika-v-novostrojke/ [R=301,L]
RewriteRule ^blog/prohodnye-vyklyuchateli/?$ /blog/elektrika-v-novostrojke/ [R=301,L]
RewriteRule ^blog/kak-vybrat-elektroshhit/?$ /blog/elektrika-v-novostrojke/ [R=301,L]
RewriteRule ^blog/elektrobezopasnost-v-vannoj/?$ /blog/elektrika-v-novostrojke/ [R=301,L]
RewriteRule ^blog/kollektornaya-razvodka-vody/?$ /blog/kak-vybrat-santehniku/ [R=301,L]
RewriteRule ^blog/polipropilen-ili-sshityj-polietilen/?$ /blog/kakoj-laminat-luchshe/ [R=301,L]
RewriteRule ^blog/kak-vybrat-vannu/?$ /blog/kak-vybrat-santehniku/ [R=301,L]
RewriteRule ^blog/dushevaya-ili-vanna/?$ /blog/kak-vybrat-santehniku/ [R=301,L]
RewriteRule ^blog/podvesnoj-ili-napolnyj-unitaz/?$ /blog/kakoj-laminat-luchshe/ [R=301,L]
RewriteRule ^blog/kak-vybrat-smesitel/?$ /blog/kak-vybrat-santehniku/ [R=301,L]
RewriteRule ^blog/installyaciya-dlya-unitaza/?$ /blog/kak-vybrat-santehniku/ [R=301,L]
RewriteRule ^blog/santehnicheskij-lyuk-pod-plitku/?$ /blog/kak-vybrat-plitku/ [R=301,L]
RewriteRule ^blog/ventilyaciya-v-vannoj/?$ /blog/kak-vybrat-santehniku/ [R=301,L]
RewriteRule ^blog/kak-izbavitsya-ot-pleseni/?$ /blog/kak-vybrat-santehniku/ [R=301,L]
RewriteRule ^blog/uteplenie-balkona/?$ /blog/posledovatelnost-remonta-kvartiry/ [R=301,L]
RewriteRule ^blog/mozhno-li-obedinit-balkon-s-komnatoj/?$ /blog/posledovatelnost-remonta-kvartiry/ [R=301,L]
RewriteRule ^blog/otdelka-lodzhii/?$ /blog/posledovatelnost-remonta-kvartiry/ [R=301,L]
RewriteRule ^blog/shumoizolyaciya-potolka/?$ /blog/posledovatelnost-remonta-kvartiry/ [R=301,L]
RewriteRule ^blog/natyazhnoj-ili-gipsokartonnyj-potolok/?$ /blog/kakie-natyazhnye-potolki-luchshe/ [R=301,L]
RewriteRule ^blog/tenevoj-profil-v-interere/?$ /blog/kakie-natyazhnye-potolki-luchshe/ [R=301,L]
RewriteRule ^blog/skrytyj-karniz-dlya-shtor/?$ /blog/kakie-natyazhnye-potolki-luchshe/ [R=301,L]
RewriteRule ^blog/trekovoe-osveshhenie/?$ /blog/elektrika-v-novostrojke/ [R=301,L]
RewriteRule ^blog/remont-kuhni-s-chego-nachat/?$ /blog/posledovatelnost-remonta-kvartiry/ [R=301,L]
RewriteRule ^blog/fartuk-dlya-kuhni/?$ /blog/posledovatelnost-remonta-kvartiry/ [R=301,L]
RewriteRule ^blog/kak-razmestit-tehniku-na-kuhne/?$ /blog/posledovatelnost-remonta-kvartiry/ [R=301,L]
RewriteRule ^blog/ergonomika-rabochej-zony-kuhni/?$ /blog/posledovatelnost-remonta-kvartiry/ [R=301,L]
RewriteRule ^blog/remont-spalni/?$ /blog/posledovatelnost-remonta-kvartiry/ [R=301,L]
RewriteRule ^blog/remont-detskoj-komnaty/?$ /blog/posledovatelnost-remonta-kvartiry/ [R=301,L]
RewriteRule ^blog/remont-gostinoj/?$ /blog/posledovatelnost-remonta-kvartiry/ [R=301,L]
RewriteRule ^blog/remont-prihozhej/?$ /blog/posledovatelnost-remonta-kvartiry/ [R=301,L]
RewriteRule ^blog/zonirovanie-kvartiry-studii/?$ /blog/posledovatelnost-remonta-kvartiry/ [R=301,L]
RewriteRule ^blog/hranenie-v-malenkoj-kvartire/?$ /blog/posledovatelnost-remonta-kvartiry/ [R=301,L]
RewriteRule ^blog/pereplanirovka-kvartiry/?$ /blog/posledovatelnost-remonta-kvartiry/ [R=301,L]
RewriteRule ^blog/kakie-raboty-trebuyut-soglasovaniya/?$ /blog/posledovatelnost-remonta-kvartiry/ [R=301,L]
RewriteRule ^blog/remont-v-novostrojke-s-usadkoj/?$ /blog/kak-prinyat-kvartiru-ot-zastrojshhika/ [R=301,L]
RewriteRule ^blog/remont-staroj-kvartiry/?$ /blog/posledovatelnost-remonta-kvartiry/ [R=301,L]
RewriteRule ^blog/demontazh-bez-lishnej-pyli/?$ /blog/posledovatelnost-remonta-kvartiry/ [R=301,L]
RewriteRule ^blog/vyvoz-stroitelnogo-musora/?$ /blog/posledovatelnost-remonta-kvartiry/ [R=301,L]
RewriteRule ^blog/kak-hranit-materialy-na-obekte/?$ /blog/skolko-stoit-remont-kvartiry/ [R=301,L]
RewriteRule ^blog/kontrol-kachestva-remonta/?$ /blog/kak-vybrat-podryadchika/ [R=301,L]
RewriteRule ^blog/avtorskij-nadzor/?$ /blog/kak-vybrat-podryadchika/ [R=301,L]
RewriteRule ^blog/tehnicheskij-nadzor/?$ /blog/kak-vybrat-podryadchika/ [R=301,L]
RewriteRule ^blog/dogovor-na-remont-kvartiry/?$ /blog/kak-vybrat-podryadchika/ [R=301,L]
RewriteRule ^blog/garantiya-na-remontnye-raboty/?$ /blog/kak-vybrat-podryadchika/ [R=301,L]
RewriteRule ^blog/kak-chitat-smetu/?$ /blog/skolko-stoit-remont-kvartiry/ [R=301,L]
RewriteRule ^blog/pochemu-menyaetsya-byudzhet-remonta/?$ /blog/skolko-stoit-remont-kvartiry/ [R=301,L]
RewriteRule ^blog/zakupka-chistovyh-materialov/?$ /blog/skolko-stoit-remont-kvartiry/ [R=301,L]
RewriteRule ^blog/kak-vybrat-stroitelnye-smesi/?$ /blog/posledovatelnost-remonta-kvartiry/ [R=301,L]
RewriteRule ^blog/sezonnost-remonta-kvartiry/?$ /blog/posledovatelnost-remonta-kvartiry/ [R=301,L]
RewriteRule ^blog/mozhno-li-zhit-v-kvartire-vo-vremya-remonta/?$ /blog/posledovatelnost-remonta-kvartiry/ [R=301,L]
RewriteRule ^blog/uborka-posle-remonta/?$ /blog/posledovatelnost-remonta-kvartiry/ [R=301,L]
RewriteRule ^blog/kak-zashhitit-gotovuyu-otdelku/?$ /blog/elektrika-v-novostrojke/ [R=301,L]
RewriteRule ^blog/trendy-interera-bez-bystrogo-ustarevaniya/?$ /blog/posledovatelnost-remonta-kvartiry/ [R=301,L]
RewriteRule ^blog/ekologichnye-materialy-dlya-remonta/?$ /blog/skolko-stoit-remont-kvartiry/ [R=301,L]
<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType image/webp "access plus 1 year"
ExpiresByType text/css "access plus 1 month"
ExpiresByType application/javascript "access plus 1 month"
</IfModule>
